.field-next-btn{
    width: 120px;
    height: 45px;
    margin: 5px;
    margin-top: 10px;
    background-color: #BB2428;
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: 700;
    font-size: x-large;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    gap: 2px;
    margin-left: 40px;
}

.field-next-btn > p{
    /* border: 1px solid black; */
    display: block;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.field-next-btn:active{
    border: 2px solid #BB2428;
}

.field-check-btn{
    margin-top: 10px;
}